/* color variables */

$white: #fff;
$black: #000;
$chinese-black: #121212;
$dark-gray: #a9a9a9;
$gray: #ccc;
$blue: #0000ff;
$green: #54ed54;
$red: #ff0000;
$yellow: #fbf40e;
$isabelline: #f7f1f1;
$main-content-background: #eef6f9;

/* font weight variables */

$font-normal-weight: 400;
$font-medium-weight: 500;
$font-semibold-weight: 600;