<div class="new-users-card">
  <div class="title">New User Registrations</div>
  <div class="new-users-list">
    <ng-container *ngFor="let user of allUsers; let i = index">
      <div class="row new-users-row">
        <div class="new-user-column">
          <img src="{{user.picture}}" alt="new-user" />
        </div>
        <div class="new-user-info-column">
          <div class="new-user-name">{{user.name}}</div>
          <div class="new-user-country">{{user.country}}</div>
        </div>
        <div class="new-user-progress-column">
          <div class="progress" [ngStyle]="{'width': user.progress + '%'}" id="progress-{{i}}" [ngClass]="{'red-progress': user.progress < 30,'yellow-progress': user.progress >= 30 && user.progress < 40,
            'blue-progress': user.progress >= 70, 'green-progress': user.progress >= 50 && user.progress < 70, 
            'gray-progress': user.progress >= 40 && user.progress < 50}"></div>
          <span class="new-user-name progress-percentage">{{user.progress}}%</span>
        </div>
        <div class="new-user-active-column">
          <div class="active-status" [ngClass]="{'user-active' : user.isActive, 'user-inactive' : !user.isActive}">
            <span class="text">More</span>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>