<div class="product-chart-container">
    <div class="charts-heading-container">
        <div class="charts-heading">Top Products</div>
        <div class="side-text">...</div>
    </div>
    <canvas id="productChart">{{doughnutchart}}</canvas>
    <div class="custom-legend">
        <div class="legend-item">
            <span class="circle circle-men"></span>
            <span class="legend-text">Men</span>
        </div>
        <div class="legend-item">
            <span class="circle circle-electronics"></span>
            <span class="legend-text">Electronics</span>
        </div>
        <div class="legend-item">
            <span class="circle circle-women"></span>
            <span class="legend-text">Women</span>
        </div>
    </div>
</div>