<div class="row">
   <div class="card active">
     <div class="card-header">
       <div class="percentage-value">
         <div>
           <span class="percentage">{{allCards[0]?.value}}%</span>
         </div>
         <div>
          <i class="icon-color fa-solid fa-music"></i>
         </div>
       </div>
       <div>
         <div class="header-text">{{allCards[0]?.header}}</div>
         <div class="sub-header-text">{{allCards[0]?.sub_header}}</div>
       </div>
     </div>
   </div>
   <div class="card">
    <div class="card-header">
      <div class="percentage-value">
        <div>
          <span class="percentage">{{allCards[1]?.value}}%</span>
        </div>
        <div>
          <i class="icon-color fa-solid fa-pizza-slice"></i>
        </div>
      </div>
      <div>
        <div class="header-text">{{allCards[1]?.header}}</div>
        <div class="sub-header-text">{{allCards[1]?.sub_header}}</div>
      </div>
    </div>
   </div>
   <div class="card">
    <div class="card-header">
      <div class="percentage-value">
        <div>
          <span class="percentage">{{allCards[2]?.value}}%</span>
        </div>
        <div>
         <i class="icon-color fa-solid fa-download"></i>
        </div>
      </div>
      <div>
        <div class="header-text">{{allCards[2]?.header}}</div>
        <div class="sub-header-text">{{allCards[2]?.sub_header}}</div>
      </div>
    </div>
   </div>
   <div class="card">
    <div class="card-header">
      <div class="percentage-value">
        <div>
          <span class="percentage">{{allCards[3]?.value}}%</span>
        </div>
        <div>
          <i class="icon-color fa-solid fa-rotate"></i>
        </div>
      </div>
      <div>
        <div class="header-text">{{allCards[3]?.header}}</div>
        <div class="sub-header-text">{{allCards[3]?.sub_header}}</div>
      </div>
    </div>
   </div>
</div>