@import "../../../styles/variables";
@import "../../../mixins/mixins";

.recent-orders-card {
   background: $white;
   box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);
   border-radius: 3px;
   padding: 16px;
   width: 100%;
}

.table {
   &-wrapper {
      width: 100%;
      border-collapse: collapse;
      @include fontSize(12, $font-semibold-weight, $dark-gray);
   }

   &-child {
      max-height: 330px;
      overflow-y: auto;
      padding: 15px 10px;
   }

   &-header-row {
      text-align: left;
      @include fontSize(12, $font-semibold-weight, $chinese-black);
   }
}

td,
th {
   border-top: .5px solid $isabelline;
   padding: 8px;
}

.state {
   font-weight: $font-medium-weight;
   color: $white;
}

.status {
   &-paid {
      background: $green;
      padding-left: 10px;
      padding-right: 10px;
      max-width: 50px;
   }

   &-failed {
      background: $red;
      padding-left: 10px;
      padding-right: 10px;
      max-width: 60px;
   }

   &-pending {
      background: $blue;
      padding-left: 5px;
      padding-right: 5px;
      max-width: 60px;
   }
}

.order-text {
   color: $chinese-black;
}

.overlay {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: rgba(0, 0, 0, 0.7);
   transition: opacity 500ms;
   visibility: hidden;
   opacity: 0;
   display: flex;
   justify-content: center;
   align-items: center;

   &:target {
      visibility: visible;
      opacity: 1;
   }
}

.popup {
   margin: 70px auto;
   padding: 20px;
   background: $white;
   border-radius: 5px;
   width: 30%;
   position: relative;
   transition: all 5s ease-in-out;

   .close {
      position: absolute;
      top: -2px;
      right: 7px;
      text-decoration: none;
      @include fontSize(24, $font-medium-weight, $chinese-black);
   }

   .content {
      max-height: 30%;
      overflow: auto;
   }
}

.order-number,.shipping-header {
   width: 5%;
}

.status-header {
   width: 10%;
}

.customer-header,.product-header,.date-header {
   width: 15%;
}

.date-header,.tracking-header {
   width: 20%;
}

