<div class="header-wrapper header">
  <div class="search-container">
    <div class="search-box">
      <i class="fa-solid fa-magnifying-glass fa-xs"></i>
      <input type="text" placeholder="Search" />
    </div>
  </div>
  <div class="header-icons">
    <div class="icons-container">
      <div class="icon">
        <i class="icon-color fa-solid fa-language"></i>
      </div>
      <div class="icon">
        <i class="icon-color fa-regular fa-message"></i>
      </div>
      <div class="icon">
        <i class="icon-color fa-regular fa-bell"></i>
      </div>
      <div class="user-details">
        <div>
          <img src="../../../../assets/images/user.png" alt="user" />
        </div>
        <div class="user-name-container">
          <span class="user-name">Camille Stevenson</span>
          <i class="icon-color fa-solid fa-chevron-down fa-2xs"></i>
        </div>
      </div>
    </div>
  </div>