@import "../../../styles/variables";

.header-section {
   position: absolute;
   background: $white;
   width: 100%;
   padding-left: 50px;
}

.main-content {
   display: flex;
}

.container {
   padding: 90px 60px 0 60px;
   width: 100%;
   max-height: calc(100vh - 50px);
   overflow-y: auto;
}

.orders-row {
   margin-top: 20px;
}

.chart {
   flex: 0 0 35%;
   padding: 0 15px;
   max-width: 35%;
}

.product-chart {
   flex: 0 0 30%;
   padding: 0 15px;
   max-width: 30%;
}

.charts-row {
   margin-top: 10px;
}

.recent-orders {
   flex: 0 0 60%;
   padding: 0 15px;
}

.new-users {
   flex: 0 0 40%;
   padding: 0 15px;
}